@model IEnumerable<Employee>

@{
    ViewBag.Title = "Employee List";
}


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    @foreach (var employee in Model)
    {
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text">@employee.Name</p>
                    <img class="card-img-top imageThumbnail" src="~/images/wallpaper.jpg" />
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <div class="btn-group">
                            <a asp-controller="home" asp-action="details" asp-route-id="@employee.Id" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
    @section Scripts{
        <script src="~/js/CustomScript.js"></script>
    }


